* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

.debug {
  background-color: aqua;
  height: 80px;
}

.debug-1 {
  background-color: brown;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

a{
text-decoration: none;
color: black;
}

.bt-small{
    background-color: #0161ff;
    padding: 8px 15px;
    color: white;
}

/***+HEADER****/

.header {
  background-color: aliceblue;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header-left {
  white-space: nowrap;
  text-align: center;
  align-items: center;
  height: 100%;
}

.header-right {
  white-space: nowrap;
}

header ul li {
  margin-right: 20px;
  margin-left: 20px;
}

header li:hover {
  border-bottom: 2px solid gray;
  padding: 30px 0px;
}

.header-right ul {
  align-items: center;
}

/************HERO**********/

.hero {
  background-color: #b4d0e7;
}

.container-big {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding-top: 80px;
}

h1 {
  font-size: 5rem;
  padding-top: 80px;
}
